li{
  list-style: none;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container h1{
  text-align: center;
}
.list{
  display: flex;
  justify-content: center;
}
